/* Estilo para o botão do menu */
.menu-button {
  background-color: #007bff; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Estilo para o botão do menu quando aberto */
.menu-button-opened {
  background-color: #dc3545; /* Cor de fundo vermelha */
}

/* Estilo para a div que contém os botões de redirecionamento */
.menu-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 75px; /* Distância do topo (ajuste conforme necessário) */
  left: 0; /* Alinhe à direita */
  background-color: #fff; /* Cor de fundo branca */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Certifique-se de que o menu esteja na frente de outros elementos */
}

/* Estilo para os botões de redirecionamento */
.menu-button-link {
  background-color: #007bff; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none; /* Remover sublinhado de links */
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Estilo para os botões de redirecionamento quando o mouse passa por cima */
.menu-button-link:hover {
  background-color: #0056b3; /* Cor de fundo azul mais escura */
}

/* Estilo para os botões de redirecionamento quando está desabilitado */
.menu-button-link:disabled {
  background-color: #ccc; /* Cor de fundo cinza quando desabilitado */
  cursor: not-allowed;
}

.logout-btn button{
  background-color: #ff0000;
  
}

.home-btn button{
  background-color: #007bff;
}
