/* Estilo para o componente RegisterPayment */
.register-payment-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centralize o componente horizontalmente */
  font-family: Arial, sans-serif;
}

.register-payment-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.register-payment-container form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: bold;
}

.register-payment-container form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.register-payment-container form input[type="submit"] {
  background-color: #007bff; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.register-payment-container form input[type="submit"]:hover {
  background-color: #0056b3; /* Cor de fundo azul mais escura */
}
