/* Estilo para o contêiner principal do componente EditAcc */

/* Estilo para o contêiner do menu */
.menu-container {
  color: #fff; /* Cor do texto branco */
  padding: 10px;
  text-align: left;
  width: 100%;
}

/* Estilo para o contêiner do conteúdo da página */
.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px; /* Largura máxima para o conteúdo (ajuste conforme necessário) */
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o contêiner dos botões de redirecionamento */
.redirect-button-container {
  flex-basis: 100%;
  text-align: center;
}

/* Estilo para o contêiner do formulário de criação de conta */
.create-acc-form-container {
  flex-basis: 70%; /* 70% do espaço no contêiner do conteúdo */
}

/* Estilo para o contêiner do botão de exclusão */
.delete-btn-container {
  flex-basis: 30%; /* 30% do espaço no contêiner do conteúdo */
}
